@page "/counter"
@using System.ComponentModel.DataAnnotations
@inject IHttpRequestQueue HttpRequestQueue
@rendermode InteractiveServer

<PageTitle>Html Content of Url</PageTitle>

<h1>HTML from an Url</h1>

<EditForm Model="@formData" OnValidSubmit="@PerformSearch">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Uri:</label>
        <InputText id="name" @bind-Value="formData.Name" class="form-control" />
        <ValidationMessage For="@(() => formData.Name)" />
        <label for="name">Content:</label>
        <input @bind="searchText" @bind:event="oninput" @bind:after="PerformSearch" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</EditForm>


<p class="mt-3">Search result: @searchResult</p>



@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p role="status">Current count: @currentCount</p>
<InputText @Value="UriString"  />
<InputText id="name" @bind-Value="formData.Name" class="form-control" />
<button class="btn btn-primary" @onclick="@(() => GetHtmlContent(new Uri(UriString)))">Click me</button> *@

@code {

    private string? searchText;
    private string? searchResult;

    private FormData formData = new FormData();
    private string? pageContent;

    private int currentCount = 0;
    private string UriString = "https://example.com";

    private void IncrementCount()
    {
        currentCount++;
    }

    private Task<string> GetHtmlContent(Uri uri)
    {
        HttpRequestQueue ms = new();
        var content = ms.GetHtmlContent(uri.AbsoluteUri);
        
        return content;

    }   

    private Uri HandleUri(string? uri)
    {
        if(Uri.TryCreate(uri, UriKind.Absolute, out var result))
        {
            return result;
        }
        else
        {
            return new Uri("https://www.google.com/");
        }

    }

    private async Task PerformSearch()
    {
        string semantic_uri = @"https://learn.microsoft.com/en-us/semantic-kernel/overview/";

        if (!string.IsNullOrWhiteSpace(semantic_uri))  //searchText))
        {
            var uri = HandleUri(searchText);
            var content = await GetHtmlContent(uri);
            HttpBSys.Services.FileSys.FileSys.Store(QuickLZ.CompressToText(content), uri.Host.Replace("www.", "").Replace(".com", "") ?? "");
            searchResult = content; // new[] { content };
        }
        else
        {
            searchResult = "";
        }
    }

    public class FormData
    {
        [Required(ErrorMessage = "Name is required.")]
        [StringLength(50, ErrorMessage = "Name must be less than 50 characters.")]
        public string? Name { get; set; }
    }
}
